<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <!-- styles need to be added -->
    <!-- draft template of homepage -->
    <a href="#"> <h1>Cookbook Website</h1></a>
    <div>
      <a href="#"><button>Sign Up</button></a
      ><a href="#"><button>Login</button></a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Post Your Own Creations</a></li>
      </ul>
    </nav>
    <div>
      <h2>What have we got to work with today?</h2>
      <a href="#"><button>Ingredient</button></a>
      <a href="#"><button>Ingredient</button></a>
      <a href="#"><button>Ingredient</button></a>
      <a href="#"><button>Ingredient</button></a>
      <ul>
        <li>Username, Recipe Image, Recipe name, likes/comments</li>
        <li>Username, Recipe Image, Recipe name, likes/comments</li>
        <li>Username, Recipe Image, Recipe name, likes/comments</li>
        <li>Username, Recipe Image, Recipe name, likes/comments</li>
        <li>Username, Recipe Image, Recipe name, likes/comments</li>
      </ul>
      <p>Search bar</p>
    </div>
    <div>
      <p>Recipes for everyone</p>
      <ul>
        <li>Recipe Image</li>
        <li>Recipe Image</li>
        <li>Recipe Image</li>
        <li>Recipe Image</li>
      </ul>
    </div>
    <footer>
      <p>Contact Form</p>
      <p>
        Cookbook recipe website where users can add their own creations,
        comment, like, give tips, etc...
      </p>
    </footer>
  </body>
</html>
