/* main background colour  */
.main-bg,
.pagination {
    background-color: #f2ebf2;
}

/* nav bar */

.brand {
    font-family: Dosis, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #4A4A4F;

}

#logomid {
    font-family: Rubik, sans-serif;
    text-align: center;
    font-weight: 400;
}

.nav-item {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.navbar-text {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

nav {
    background-color: #fff5ff;
}

.search-bar {
    margin-top: 2%;
    margin-left: 15%;
}

/* footer */

.dark-bg {
    background-color: #ac30fa;
}

#footer-contact {
    font-family: Rubik, sans-serif;
    font-size: larger;
    color: whitesmoke;
}

#footer-socials {
    font-family: Rubik, sans-serif;
    font-size: medium;
    color: whitesmoke;
    text-align: center;
    list-style-type: none;
}

#footer-socials i {
    color: whitesmoke;
}

#footer-socials>li {
    display: inline;
}

/* index view */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #784bea;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;

}

.post-link {
    text-decoration: none;
    color: #3d3d45;
    font-family: Rubix, sans-serif;
}

.post-link:hover,
.page-link {
    color: #7293ea;
}

.page-link {
    color: black;
    background-color: #de91e4;
    font-family: Rubik, sans-serif;
}

#about {
    font-family: Courgette, cursive, sans-serif;
    font-size: larger;
}

#add-new {
    background-color: #e8abe8;
    font-family: Rubik, sans-serif;
}

.about-title {
    font-family: Dosis, sans-serif;
    margin-top: 2%;
}

.img-link {
    width: 25%;
}

#categories>li {
    display: inline;
}

#center-categories {
    text-align: center;
}

#drinks {
    margin-right: 5%;
}

#sauces {
    margin-left: 5%;
}

/* recipe view */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #f0cfc3;
    color: #372c2c;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #f0cfc3;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
    font-family: 'Indie Flower', cursive, sans-serif;
    font-weight: bolder;
}

.post-subtitle {
    margin-left: 5%;
    color: #2d2532;
    font-family: Rubix, sans-serif;
    font-weight: bold;
}

.card-body,
.recipe-body {
    font-family: Rubix, sans-serif;
    font-size: larger;
}

.comment-sect {
    font-family: Rubik, sans-serif;
}

.recipe-headings {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-weight: bolder;
    font-size: 23px;
}

.like-comm-sect {
    flex: 0 0 auto;
    width: 9.3%;
}

.recipe-title {
    font-family: Dosis, sans-serif;
}

/* buttons  */

.btn-like {
    color: #e61e95;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #b24f8b;
    background: transparent;
    border: none;
}

.btn-login,
.btn-logoff,
.btn-signup,
.btn-sendidea {
    background-color: #8e49bd;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #a69bde;
    color: #141313;
}

.btn-submit {
    background-color: #cc7edb;
}

.btn-manage {
    background-color: #ba9de2;
    font-family: Rubik, sans-serif;
}

.btn-bookmark {
    background-color: #ba9de2;
    font-family: Rubik, sans-serif;
    position: sticky;
}

.btn-bookmark:hover {
    background-color: #ec92e7;
}

/* accounts pages */

.accounts-page {
    font-family: Rubik, sans-serif;
    font-size: 35px;
}

.welcome-msg {
    font-family: Rubik, sans-serif;
    font-size: 20px;
}

.accounts-link {
    color: #c11544;
    text-decoration: none;
}

.accounts-link:hover,
.accounts-link:active {
    color: #bb627a;
    text-decoration: underline;
}


/* contact form */

.contact-form {
    width: 75%;
    margin-left: 13%;
}

/* search results view */

.search-results {
    list-style-type: none;
    font-family: Dosis, sans-serif;
    color: #5500bf;
}

.search-results:hover {
    color: #b630d1;
}

/* profile page */

.bookmarked>li {
    display: inline-flex;
    flex-wrap: wrap;
}

/* misc */

.hr-trans {
    color: transparent;
}

/* media queries */

@media screen and (max-width:1065px) {
    .nav-item {
        font-size: 14px;
    }

    .navbar-text {
        font-size: 13px;
    }
}

@media screen and (max-width:995px) {
    .commentform {
        font-size: 18px;
    }
}

@media screen and (max-width:990px) {
    .like-comm-sect {
        width: 10%;
    }

    .search-bar {
        margin-top: 1%;
        margin-left: unset;
    }
}

@media screen and (max-width:760px) {
    .post-title {
        margin-top: 10%;
    }

    .like-count {
        margin-left: 28%;
    }

}

@media screen and (max-width:767px) {
    .masthead {
        margin-bottom: -5%;
    }
}

@media screen and (max-width:540px) {
    .masthead {
        margin-bottom: -14%;
    }
}

@media screen and (max-width:400px) {
    .masthead {
        margin-bottom: -24%;
    }
}

@media screen and (max-width:430px) {
    .recipe-body {
        margin-top: -2%;
    }
}

@media screen and (max-width:375px) {
    .btn-bookmark {
        margin-top: 8%;
    }
}

@media screen and (max-width:365px) {
    .navbar-toggler {
        margin-left: 40%;
    }
}