/* sort into categories */

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #4A4A4F;

}

/* footer */
.dark-bg {
    background-color: #ac30fa;
}

/* main background colour  */
.main-bg {
    background-color: #f2ebf2;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #784bea;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;

}

/* recipe name view */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #f0cfc3;
    color: #372c2c;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #f0cfc3;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #3d3d45;
    font-family: Rubix, sans-serif;
}

.post-link:hover,
.page-link {
    color: #7293ea;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    font-family: Rubix, sans-serif;
}

.post-subtitle {
    margin-left: 5%;
    color: #322a4d;
    font-family: Rubix, sans-serif;
}

/* need to edit these  */
.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}


.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #226ed1;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* My Own CSS */

#logomid {
    font-family: Rubik, sans-serif;
    text-align: center;
    font-weight: 400;
}

.nav-item {
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.navbar-text {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

nav {
    background-color: #fff5ff;
}

.card-body {
    font-family: Rubix, sans-serif;
    font-size: larger;
}

.btn-login {
    background-color: #8e49bd;
    color: #fff;
}

#loginpage {
    font-family: Rubik, sans-serif;
    font-size: 35px;
}

#login-welcome {
    font-family: Rubik, sans-serif;
    font-size: 20px;
}

#signup-link {
    color: #c11544;
}

#signup-link:hover {
    color: #bb627a;
}