{% extends 'base.html' %} {% load static %} {% block content %}

<head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("81K-8zDaJ5bEHb6sc");
        })();
    </script>
</head>

<section class="container-fluid card-body">
    <div class="row bg-color-contact">
        <div class="col">
            <h3 class="text-center">Got some recipe ideas you want to share?</h3>
            <h5 class="text-center">Just let me know!</h5>

            <div class="center-form">
                <form onsubmit="return sendMail(this);">
                    <input type="text" name="name" id="name" class="form-control contact-form" placeholder="Name" required />
                    <input type="email" name="emailaddress" id="emailaddress" class="form-control contact-form" placeholder="Email"
                        required />
                    <textarea rows="5" name="recipeidea" id="recipeidea" class="form-control contact-form"
                        placeholder="Recipe Idea" required></textarea>
                    <div class="form-row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-sendidea">Send Idea</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</section>
<script src="{% static 'js/sendEmail.js' %}" type="application/javascript"></script>
{% endblock content %}
