{% extends 'base.html' %} {% load static %} {% block content %}

<section class="container-fluid card-body">
  <div class="row bg-color-contact">
    <div class="col">
      <h3 class="text-center">Search Page</h3>
      <h5 class="text-center">Find what you need <i class="fa-solid fa-magnifying-glass"></i></h5>


      <ul>
        {% for post in post_list %}
        <li>
            {{ post.recipe_name }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% endblock content %}
